{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
<h1>{% trans "Upload quiz file" %}</h1>
</div>
<div class="row">

<form class="form-horizontal" enctype="multipart/form-data" method="post">
	{% csrf_token %}
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="title">{{ form.title.label }}</label>
      <div class="controls">
        {{ form.title }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="quiz">{{ form.quiz.label }}</label>
      <div class="controls">
        {{ form.quiz }}
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="quiz">{{ form.encoding.label }}</label>
      <div class="controls">
        {{ form.encoding }}
      </div>
    </div>
    <div class="form-actions">
	 <input type="submit" value="{% trans "Upload" %}" />
	</div>
  </fieldset>
</form>
</div>
{% endblock %}